RUST_BACKTRACE=1
APP_ENV=development
REDIS_URL=redis://auth_cache:6379
POSTGRES_USER=nodebook_auth
POSTGRES_PASSWORD=password # replace
POSTGRES_DB=nodebook_auth
DATABASE_URL=postgres://nodebook_auth:password@auth_db:5432/nodebook_auth # modify password if changed
JWT_ACCESS_SECRET=jwt_access_secret # replace
JWT_REFRESH_SECRET=jwt_refresh_secret # replace
